.main {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.enchiladas {
  max-width: 50%;
}

.pozole {
  max-width: 50%;
}

.churros {
  max-width: 50%;
}

.main a {
  text-decoration: none;
  color: black;
  margin: 20px 5px;
  align-content: center;
  text-align: center;
  background-color:rgb(71, 181, 46);
  height: 40px;
  width: 90px;
  border-radius: 5px;
}
